

/* Container centralizado para o conteúdo principal */
#container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Faz com que o container ocupe o espaço restante */
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 250px; /* Espaço reservado para o menu lateral */
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    margin-top: 650px;
    padding: 20px;
    background-color: white;
    justify-content: center;
    align-items: left; /* Centralizando os itens dentro do formulário */
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 520px;
    max-width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}

.cadastro-form h2 {
    text-align: center;
    color: #4ca496;
    margin-bottom: 10px;
}

.cadastro-form .input {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
}

.cadastro-form input, .cadastro-form textarea, .cadastro-form select {
    text-indent: 1%;
    display: flex;
    width: 100%;
    outline: none;
    border: none;
    background-color: #eeeeee;
    border-radius: 5px;
    height: 25px;
    margin-bottom: 10px;
}

.cadastro-form textarea {
    height: 80px; /* Aumentando a altura da área de descrição */
}

.cadastro-form button {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo do botão */
    background-color: #6adfcc;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100%;  /* Garantir que o botão ocupe toda a largura do formulário */
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
}

.cadastro-form button:hover {
    background-color: #0cf000;
    color: black;
    transition: 0.2s;
}
/* Estilo da lista de pacientes */
.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.patient-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.patient-list li {
    background-color: #e0f7fa;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
}

.patient-list li h4 {
    margin-bottom: 5px;
}

.triage-btn {
    padding: 10px 15px;
    background-color: #4ca496;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
    cursor: pointer;
}

.triage-btn:hover{
    background-color: #0cf000;
    transition: 0.2s;
}