/* Definições globais */
body {
    font-family: Arial, sans-serif; /* Definir fonte para o corpo */
    background-color: #f4f7fa; /* Fundo claro para o corpo */
    margin: 0;
    padding: 0;
}

/* Container principal (inclui o menu e o conteúdo) */
#container {
    display: flex;
    min-height: 100vh; /* Garante que o conteúdo ocupe a altura total */
}

/* Estilo do menu lateral */
#menu {
    width: 250px;
    background-color: #4ca496;
    height: 100%;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    border-right: 2px solid #0cf000;
    position: fixed; /* Fixa o menu na tela */
    top: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    margin-bottom: 10px;
}

#menu ul li a {
    display: block;
    padding: 12px 20px;
    background: #51f7db;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.5s ease;
}

#menu ul li a:hover {
    background-color: #0cf000;
    color: #1D1E33;
}

a {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 13px;
}

img {
    display: flex;
    width: 100px;
    height: 100px;
}

#menu ul li a.active {
    background-color: #0cf000;
    color: black;
}

/* Estilo do conteúdo principal ao lado do menu */
#main-content {
    margin-left: 250px; /* Deixa espaço para o menu lateral */
    padding: 20px;
    flex: 1; /* Ocupa o restante da tela */
    background-color: #f4f7fa;
}

/* Estilo do título da página */
h2 {
    font-size: 2.5rem;
    color: #4ca496;
    margin-bottom: 30px;
    margin-left: 405px;
}

/* Estilo para os cards de resultados */
.conteudo {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas */
    gap: 20px; /* Espaço entre os cards */
    margin-left: 33px;
}

/* Estilo de cada card */
.campo {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

/* Títulos dentro dos cards */
.campo h4 {
    color: #4ca496; /* Cor do título */
    margin-bottom: 15px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #4ca496;
    padding-bottom: 10px;
}

/* Estilo dos resultados dentro dos cards */
.resultTotal, .resultIdade, .resultCor, .resultImc, .resultPressao, .resultSangue {
    font-size: 25px;
    color: #1D1E33;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilo para os campos de contagem por Etnia */
.resultCor {
    font-size: 25px;
    color: #1D1E33;
    margin-top: 10px;
    font-weight: bold;
}

/* Ajustes responsivos */
@media (max-width: 1200px) {
    .conteudo {
        grid-template-columns: repeat(2, 1fr); /* Para telas menores que 1200px, 2 colunas */
    }
}

@media (max-width: 768px) {
    /* Para telas menores, o menu fica em cima e o conteúdo se ajusta */
    #menu {
        width: 200px;
        position: relative;
        height: auto;
    }

    #main-content {
        margin-left: 0;
    }

    .conteudo {
        grid-template-columns: 1fr; /* Para telas pequenas, 1 coluna */
    }

    .campo {
        width: 100%; /* Ocupa toda a largura */
        max-width: 400px; /* Limita o tamanho máximo */
    }
}
